@import "utilities";
@import "variables";
@import "media";
@import "functions";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: green;
}

.row {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 1rem;
  margin-bottom: 20px;
}

.hide {
  visibility: hidden;
}

@include media($tablet) {
  :root {
    background-color: purple;
  }

  .row {
    display: grid;
    grid-template-columns: repeat($columns-tablet, 1fr);
    gap: 1rem;
    margin-bottom: 20px;
  }

  @for $i from 1 through $columns-tablet {
    .col-m-#{$i} {
      grid-column: span $i;
      padding: 20px 15px;
      color: white;
      background-color: orange;
    }
    .col-m-#{$i}::after {
      content: "Tablet use: .col-m-#{$i}";
    }
  }
  .hide-tablet {
    visibility: hidden;
  }
}

@include media($phone) {
  :root {
    background-color: dodgerblue;
  }

  .row {
    display: grid;
    grid-template-columns: repeat($columns-phone, 1fr);
    gap: 1rem;
    margin-bottom: 20px;
  }

  @for $i from 1 through $columns-phone {
    .col-lg-#{$i} {
      grid-column: span $i;
      padding: 20px 15px;
      color: white;
      background-color: gray;
    }
    .col-lg-#{$i}::after {
      content: "Phone use: .col-lg-#{$i}";
    }
  }

  .hide {
    visibility: visible;
  }

  .hide-tablet {
    visibility: hidden;
  }
  .hide-phone {
    visibility: hidden;
  }
}
